body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff8e1;
    text-align: center;
}

header {
    background-color: #b8860b;
    color: white;
    padding: 30px;
}

section {
    padding: 30px;
}

h2 {
    color: #b8860b;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    font-size: 18px;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.item img {
    width: 100%;
    border-radius: 8px;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}